:root {
    --clr-primary:  hsl(257, 40%, 49%);
    --clr-accent-100: hsl(300, 69%, 71%);
    --clr-accent-200: hsl(0, 0%, 100%);

    --ff-headings: 'Poppins', sans-serif;
    --ff-body: 'Open Sans', sans-serif;

    --fw-regular: 400; 
    --fw-bold: 600;

    --fs-headings: 2rem;
    --fs-para: 1.15rem;
    --fs-button: var(--fs-para);

    --size-100: 1rem; 
    --size-200: 1.25rem; 
    --size-300: 1.5rem; 
    --size-400: 1.75rem; 
    --size-500: 2rem; 
    --size-600: 2.25rem;
    --size-700: 2.5rem;
    --size-800: 2.75rem;
    --size-900: 6rem;
}

@media (max-width: 89rem) {
    :root {
        --fs-headings: 1.75rem;
        --fs-para: 1rem;

        --size-100: 0.75rem; 
    }
}

/* CSS Reset */

*, 
*::before, 
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: inherit;
}

html, 
body {
    min-height: 100vh;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    font-family: var(--ff-body);
}

@media (max-width: 23.5rem) {
    body {
        background: url('../images/bg-mobile.svg');
        background-repeat: no-repeat;
        background-position: top;
        background-color: var(--clr-primary);
    }
}

@media (min-width: 23.5rem) {
    body {
        background: url('../images/bg-desktop.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-color: var(--clr-primary);
    }
}

h1, 
h2, 
h3, 
h4 {
    font-family: var(--ff-headings);
    text-align: center;
}

p {
    max-width: 90%;
    margin-inline: auto;
    text-align: center;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img, 
picture, 
video, 
canvas, 
svg {
    display: block;
    max-width: 100%;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* General styles */

.logo-wrapper {
    width: min(90%, 77.5em);
    margin: 0 auto;
}

.page-logo {
    max-width: 50%;
    margin-right: auto;
}

.wrapper {
    width: min(90%, 77.5em);
    margin: var(--size-800) auto;
    display: grid;
    gap: var(--size-600);
    justify-items: center;
    align-items: center;
}

.img-wrapper img {
    margin-inline: auto;
}

.button-wrapper {
    text-align: center;
}

.button {
    display: inline-block;
    text-decoration: none;
    background-color: var(--clr-accent-200);
    padding: var(--size-100) var(--size-900);
    border-radius: 100vw;
    transition: 
        background-color 150ms ease-in-out,
        color 150ms ease-in-out;
}

.button:hover {
    background-color: var(--clr-accent-100);
    color: var(--clr-accent-200);
}

.social-list {
    display: flex;   
}

.social-item {
    flex: 1;
    padding-inline: var(--size-300);
}

.icon {
    border: 1px solid var(--clr-accent-200);
    border-radius: 100vw;
    padding: 0.65rem;
    transition: 
        border-color 150ms ease-in-out,
        color 150ms ease-in-out; 
}

.icon:hover {
    color: var(--clr-accent-100);
    border-color: var(--clr-accent-100);
}

.fa-facebook-f {
    padding-inline: 0.85rem;
}

@media (min-width: 75em) {
    .wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .main-content {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        display: flex;
        gap: var(--size-800);
    }

    .img-wrapper, 
    .description {
        flex: 1;
    }

    h1 {
        text-align: start;
    }

    .button-wrapper {
        text-align: start;
    }

    footer {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        justify-self: end;
    }

    p {
        text-align: start;
        margin-left: 0;
    }
}

/* Utility classes */ 

.clr-primary { color: var(--clr-primary); }
.clr-accent-100 { color: var(--clr-accent-100); }
.clr-accent-200 { color: var(--clr-accent-200); }

.fs-headings { font-size: var(--fs-headings); }
.fs-para { font-size: var(--fs-para); }
.fs-button { font-size: var(--fs-button); }

.fw-regular { font-weight: var(--fw-regular); }
.fw-bold { font-weight: var(--fw-bold); }

.padding-block-100 { padding-block: var(--size-100); }
.padding-block-200 { padding-block: var(--size-200); }
.padding-block-300 { padding-block: var(--size-300); }
.padding-block-400 { padding-block: var(--size-400); }
.padding-block-500 { padding-block: var(--size-500); }
.padding-block-600 { padding-block: var(--size-600); }
.padding-block-700 { padding-block: var(--size-700); }
.padding-block-800 { padding-block: var(--size-800); }
.padding-block-900 { padding-block: var(--size-900); }

.margin-block-100 { margin-block: var(--size-100); }
.margin-block-200 { margin-block: var(--size-200); }
.margin-block-300 { margin-block: var(--size-300); }
.margin-block-400 { margin-block: var(--size-400); }
.margin-block-500 { margin-block: var(--size-500); }
.margin-block-600 { margin-block: var(--size-600); }
.margin-block-700 { margin-block: var(--size-700); }
.margin-block-800 { margin-block: var(--size-800); }
.margin-block-900 { margin-block: var(--size-900); }
